<div class='card card-body p-4 rounded-0 bg-dark text-white'>

  <h3>Add A Task</h3>

  <form action='/tasks/add' method='POST'>

    <div class='mb-3'>
      <label class='mb-2' for='title'>Write a Title</label>
      <input
        class='form-control rounded-0 bg-dark text-white'
        type='text'
        name='title'
        placeholder='title'
        id='title'
      />
    </div>

    <div class='mb-3'>
      <label class='mb-2' for='description'>Description</label>
      <textarea
        class='form-control rounded-0 bg-dark text-white'
        name='description'
        placeholder='description'
        id='description'
      ></textarea>
    </div>

    <button class='btn btn-primary btn-sm mt-2'>Add</button>

  </form>
</div>